.titleContainer {
  display: flex;
  justify-content: flex-start;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.cardContainer {
  display: flex;
  justify-content: flex-start;
  margin: 0 !important;
}

.ctaProjectsContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.ctaProjects {
  color: #545454;
  text-decoration: none;
}

.ctaProjects:hover {
  text-decoration: underline #dc5a5a;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  max-width: 80%;
  margin: 1.5rem auto;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardImage img {
  width: 100%;
  display: block;
}

.cardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    transparent
  ); /* Gradient background */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    background-color 0.5s ease,
    background 0.5s ease;
}

.cardFooter {
  margin-bottom: 20px;
}

.cardHeader,
.cardFooter {
  transition: transform 0.5s ease;
  transform: translateY(20px);
}

.cardTitle,
.cardSubtitle {
  color: transparent;
  margin: 0;
}

.tag {
  display: inline-block;
  background-color: gray;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 999px;
  font-size: 0.75em;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  transform: translateY(20px);
  visibility: hidden;
  text-decoration: none;
  color: #ffffff;
}

.card:hover .cardOverlay {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    transparent
  ); /* Gradient background on hover */
  opacity: 1;
  transition: opacity 0.5s ease;
}

.card:hover .cardHeader,
.card:hover .cardFooter {
  transform: translateY(0px);
}

.card:hover .cardTitle,
.card:hover .cardSubtitle,
.card:hover .tag {
  color: #ffffff;
  opacity: 1;
  visibility: visible;
}

/* Small devices (phones, 768px and smaller) */
@media (max-width: 768px) {
  .main {
    max-width: 70%; 
    margin: auto;
  }
  .title {
    font-size: 2.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    max-width: 80%;
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main {
    max-width: 970px; 
    margin: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {
  .titleConmaintainer {
    max-width: 1200px;
    margin: auto;
  }
}
