.titleContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 15rem;
}

.title {
  font-family: "Dhurjati", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}

.paragraphContainer {
  margin-left: 15rem;
}

.paragraph {
  max-width: 75%;
  color: #545454;
  text-align: left;
  line-height: 2;
}

.ctaProjectsContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 15rem;
  margin-top: 4rem;
}

.ctaProjects, .link {
  color: #545454;
  text-decoration: none;
}

.ctaProjects:hover, .link:hover {
  text-decoration: underline #dc5a5a;
}

.breakSpace::after {
  content: '';
  display: block;
  margin-top: 1em;
}

.codeBlock {
  background: #8e8e8e;
  color: white;
  border: none;
  padding: 2px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  margin: 4px 2px;
  cursor: none;
  border-radius: 4px;
}


