.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.paragraph {
  color: #545454;
  text-align: left;
  line-height: 2;
}

.ctaProjectsContainer {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.ctaProjects {
  color: #545454;
  text-decoration: none;
}

.ctaProjects:hover {
  text-decoration: underline #dc5a5a;
}

/* Small devices (phones, 768px and smaller) */
@media (max-width: 768px) {
  .main {
    max-width: 80%;
    margin: auto;
  }
  .title {
    font-size: 2.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    max-width: 80%;
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main {
    max-width: 970px;
    margin: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}
