.main {
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 15rem;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.paragraphContainer {
  margin-left: 15rem;
}

.paragraph {
  max-width: 75%;
  color: #545454;
  text-align: left;
  line-height: 2;
}

.ctaProjectsContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 15rem;
  margin-top: 4rem;
}

.ctaProjects {
  color: #545454;
  text-decoration: none;
}

.ctaProjects:hover {
  text-decoration: underline #dc5a5a;
}

/* Small devices (phones, 768px and smaller) */
@media (max-width: 768px) {
  .titleContainer {
    width: 550px; /* fixed width or percentage as per design */
    margin-left: 4rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .paragraphContainer {
    margin-left: 4rem;
  }
  .ctaProjectsContainer {
    margin-left: 4rem;
    margin-top: 4rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .titleContainer {
    width: 750px; /* fixed width or percentage as per design */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .titleContainer {
    width: 970px; /* fixed width or percentage as per design */
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main {
    max-width: 1170px; /* fixed width or percentage as per design */
    margin: auto;
  }
}
