.main {
  /* width: 60%; */
}

input[type="text"],
input[type="email"],
textarea {
  width: 60%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #eee;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-family: Arial, sans-serif;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: #666;
}

button[type="submit"] {
  max-width: 80%;
  margin: auto;
  padding: 1rem;
  border: none;
  background: black;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  color: #666;
}

/* Small devices (phones, 768px and smaller) */
@media (max-width: 768px) {
  .main {
    max-width: 80%;
    margin: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main {
    max-width: 80%;
    margin: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main {
    max-width: 970px;
    margin: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {
  .main {
    max-width: 1200px;
    margin: auto;
  }
}
