.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10rem 2.5rem 10rem;
  background-color: rgba(255, 253, 252, 255);
  color: gray;
}

.menuContent {
  display: none;
}

.logo {
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
  font-weight: 900;
  color: black;
  text-decoration: none;
}

.links {
  display: flex;
}

ul {
  list-style: none;
}

.menuLink {
  text-decoration: none;
  color: gray;
  font-weight: 700;
}

.projectsMargin {
  margin-right: 3rem;
}

.links a {
  color: gray;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline #dc5a5a;
}

.menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .main {
    max-width: 80%;
    margin: auto;
  }
  .navbar {
    padding: 1.5rem 1rem;
  }
  .navbar .menuContent.closed {
    display: none;
  }
  .navbar .menuContent.open {
    display: block;
    position: absolute;
    width: 100%;
    height: 150%;
    top: 0;
    left: 0;
    background-color: white; /* or any color you want */
    text-align: left;
  }
  .menuToggle {
    display: block;
    z-index: 100000;
  }
  .links {
    display: none;
  }
  .toggledMenuLinks {
    padding: 0;
    margin: 6rem auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .menuLinkMargin {
    margin: 1rem;
  }
}

@media (min-width: 768px) {
  .titleContainer {
    max-width: 80%;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .titleContainer {
    max-width: 970px;
    margin: auto;
  }
}

@media (min-width: 2000px) {
  .titleContainer {
    max-width: 1200px;
    margin: auto;
  }
}
