.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 10rem 2.5rem 10rem;
  background-color: rgba(255, 253, 252, 255);
  color: gray;
}

.logo {
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
  font-weight: 900;
  color: black;
  margin-left: 1rem;
  text-decoration: none;
}

.links {
  display: flex;
}

.projectsMargin {
  margin-right: 3rem;
}

.links a {
  margin-left: 1rem;
  color: gray;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline #dc5a5a;
}

.menuToggle {
  display: flex;
  justify-content: flex-end;
} 

/* @media (max-width: 768px) {
  .navbar {
    padding: 2.5rem 4rem 2.5rem 4rem;
    width: 100%;
  }
  .logo {
    margin-left: 0rem;
  }
  .links {
    justify-content: flex-end;
  }
}

/* @media (min-width: 768px) {
  .titleContainer {
    width: 750px; 
  }
}

@media (min-width: 992px) {
  .titleContainer {
    width: 970px; 
  }
}

@media (min-width: 1200px) {
  .titleContainer {
    width: 1170px; 
  }
} */
