.iconsContainer {
  display: flex;
  justify-content: flex-start;
  margin-left: 15rem;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  font-size: 1.3em;
}

.linkedinIcon,
.githubIcon {
  margin-right: 2rem;
  color: #545454;
}

/* Small devices (phones, 768px and smaller) */
@media (max-width: 768px) {
  .iconsContainer {
    width: 550px; /* fixed width or percentage as per design */
    margin-left: 4rem;
  }
}
